.mesgarea{
    width:100%;
    height:75px;
    background-color: white;
}
.btn_container{
    width:100%;
    background-color: white;
}
.user_btn{
   padding:0;
   text-align:center !important;
    margin:15px;
    padding-right:15px  !important;
    border-radius: 10px;
    text-align:center;
    background-color: rgb(31, 37, 121);
    font-size: medium;
}
.user_btn:hover{
    background-color: rgb(89, 76, 207);
}
/* ListUser css start from here */
.spandiv{
    font-weight:bold;
}
.form_fields{
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 20px;
}
.btn_divc{
    text-align: right;
    padding:5px;
    margin-right:35px;
} 
.dltntn{
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
    font-weight: bold;
    background-color:rgb(95, 48, 14) ;
    color: rgb(247, 239, 239);
    
}
.dltntn:hover{
    background-color:rgb(241, 8, 8) ;  
}

.listuser_Container{
    background-color: white;
    width: 100%;
}
.span_div{
    margin-right:10px;
}
.btn_edit{
    border-radius: 8px;
    background-color: rgba(0, 255, 255, 0.877);
    padding:12px;
    color: rgb(12, 12, 12);
    cursor: pointer;
}
.btn_delete{
    border-radius: 8px;
    background-color: rgb(241, 8, 8);
    padding:12px;
    color: rgb(252, 247, 247);
    cursor: pointer;
}
/* User Permission css start from here */
.permission_container{
    background-color: white;
    width: 100%;
    height: inherit;
}
.btn_newrole{
    border-radius: 10px;
    padding:10px;
    margin-left: 15px;
    background-color: rgb(3, 46, 46);
    cursor: pointer;
}
.btn_newrole:hover{
background-color: rgb(0, 255, 34);
}
.div_newrole{
    margin:15px;
}
.table_div{
    display: flex;
    flex-direction: column;
}
/* Add new Role css start from here */
.addrole_container{
    background-color: white;
    margin-top: 25px;
}
.rolename{
    margin: 10px;
    padding: 15px;
    font-size:20px;
}
.checkbox_container{
    display: flex;
    flex-direction: column;
   margin-top: 15px;
}
.field_container{
    display: flex;
    align-items: flex-start;
    padding:5px;
   
}
.checkbox_container>div>label{
    padding: 18px;
    margin-left:7px;
     font-size:15px;
}
.checkbox_container>div>input{
    margin-top:26px;  
}
.userm_input{
    margin-left:50px;
}
.addnew_user{
    margin-left:18px;
    
}
.list_user{
    margin-left:80px;
}
.user_permission{
    margin-left:30px;
}
.subhead{
    display: flex;
    flex-direction:column;
    font-size: 12px;
    margin-left:35px;
    padding:5px;
    margin-bottom: 0px;
}
.subhead>input{
    padding: 5px;
    margin:5px;
    margin-left: 5px;   
}
.addnew_input{
    margin-left: 25px;
   margin-top: 5px;
}
.list_input{
    margin-left: 57px;
    margin-top: 2px; 
}
.permis_input{
    margin-left:17px;
}
.login_info{
    margin-left:60px;
}
.listc_info{
    margin-left:51px;
}
.newc_input{
    margin-left:20px;
}
/* machine managew */
.machine_manage{
    margin-left: 25px;
}
.mconfigu{
    margin-left: 5px;
    margin-top: 2px;
}
/* Employee manage */
.employee-manage{
    margin-left: 17px;
}
.update_employee{
    margin-left:35px;
}
.trans_input{
   margin-left: 50px;
}
.trans_report{
    margin-left:15px;
}
.credit_trans{
    margin-left:80px;
}
.btn_save{
    margin-top: 20px;
    margin-left: 65px;
    border-radius:6px;
    padding: 12px;
    width:95px;
    background-color: green;
    cursor: pointer;
    font-weight: bold;
}
.btn_save:hover{
    background-color: chartreuse;
    color: black;
}