.navbar1 {
    background-color: black;
    height: 80px;
    display: flex;
     justify-content: start; 
     align-items: center; 
  }
  
  .menu-bars1 {
    margin-left: 2rem;
    font-size: 2rem;
    background: blue;
  }
  

  .nav-menu1 {
    background-color: #060b26;
    width: 250px;
    height: 50vh;
    /* display: flex;
    justify-content: center; */
    /* top: 0; */
    left: -100%;
    /* position: fixed; */
    transition: 850ms;
    margin-top: 20px;
    
  }
  
  .nav-menu.active1 {
    background-color: yellow;
    left: 0;
    transition: 350ms;
    /* margin-top: 0; */
  }
  
  .nav-text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 8px 8px 8px 16px;
    height: 60px;
  }
  