.employeesearch {
    display: flex;
}

.employeesearch>div{
    margin: 10px;
    margin-left: 0px;
}
.employeesearch>div>select,.employeesearch>div>input{
    height: 30px;
    width: 160px;
   
}
.employeesearch>div>select>option{

    background-color: aliceblue;
}

label {
    display: flex;
}


#dropdown {
    background-color: lightgray;
    border-radius: 4px;
    font-size: 18px;
    margin-left: -1px;
}

.searchbtn {
    padding: 6px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    margin-left: 20px;
}

.maindiv {
 padding: 20px;
}

.search {
    margin-left: 30px;
}


.table_container {
    margin-top: 20px;
}

/* .a{

} */

#abc {
    padding-left: 5px;
    padding-right: 5px;
    width: 160px;

}

